.posts_container {
  width: 100%; }

.post_header_content {
  width: 50%; }

.post_header {
  width: 100%; }

.post_price_content {
  width: 50%;
  text-align: right; }

.post_body_left {
  display: grid;
  grid-template-rows: 20% 80%;
  width: 100%; }

.post_body_header {
  font-weight: bold;
  font-size: 3rem; }

.post_body_left {
  width: 100%;
  display: grid; }

.post_buttons {
  margin-right: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  float: left;
  width: 25%; }
